
.ibox-content-round-gray {
    width: 99%;
    background-color: #f3f3f4;
    float: center;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.iconUnidade {
    margin-top: 0px !important;
    margin-left: 0px !important;
    font-size: 15px !important;
    background-color: black;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    color: yellow !important;
}

.menuopcoes {
    border-bottom: 1px solid #e3e3e3;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menuopcoes:hover {
    font-weight: bold;
}

.menuSelecionado {
    font-weight: bold;
    cursor: default !important;
}

@media (max-width: 1450px) {
    .ibox-content-round-gray {
        margin-top: 0.5%
    }
}

@media (max-width: 1200px) {
    .i1450 {
        display: inline;
    }

    .custom-col-10 {
        padding: 5px 0px 0px 3.8%;
    }

    .marcador {
        position: absolute;
        border-radius: 100% 0% 0% 100%;
        -moz-border-radius: 100% 0% 0% 100%;
        -webkit-border-radius: 100% 0% 0% 100%;
        border: 0px;
        width: 50px;
        height: 10px;
        margin-top: 21px;
        margin-left: -1%;
    }
}