.div_barra_menu{
	background-color: #e9e9e9;
	align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.image_carousel {
    padding: 15px 15px 15px 45px;
    position: relative;
}
.image_carousel img {
    border: 0px solid #ccc;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	cursor: pointer;
	border-radius: 20px;
    padding: 9px;
    margin: 7px;
    display: block;
    float: left;
}
a.prev {
    background: url(../../imagens/slideshow/seta-cinza-esquerda.png) no-repeat transparent;
    background-size:			100% 100%;
	-webkit-background-size: 	100% 100%;
	-o-background-size: 		100% 100%;
	-khtml-background-size: 	100% 100%;
	-moz-background-size: 		100% 100%;
    width: 45px;
    height: 90px;
    display: block;
    position: absolute;
    top: 85px;
}
a.next {
    background: url(../../imagens/slideshow/seta-cinza-direita.png) no-repeat transparent;
    background-size:			100% 100%;
	-webkit-background-size: 	100% 100%;
	-o-background-size: 		100% 100%;
	-khtml-background-size: 	100% 100%;
	-moz-background-size: 		100% 100%;
    width: 45px;
    height: 90px;
    display: block;
    position: absolute;
    top: 85px;
}
a.prev {            
	left: 15px;
	margin-top: -15px;
    background-position: 0 0; 
}
a.prev:hover {      
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
}
a.prev.disabled {   
	background-position: -50px -100px !important; 
}
a.next {            
	right: 15px;
	background-position: 0 0px; 
}
a.next:hover {      
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
}
a.next.disabled {   
	background-position: -50px -100px !important;  
}
a.prev.disabled, a.next.disabled {
    cursor: default;
}
 
a.prev span, a.next span {
    display: none;
}

.pagination {
    text-align: center;
}
.pagination a {
    background: url(../../imagens/workflow/2.png) 0 -300px no-repeat transparent;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
}
.pagination a.selected {
    background-position: -25px -300px;
    cursor: default;
}
.pagination a span {
    display: none;
}

.clearfix {
    float: none;
    clear: both;
}
