.tabs-container .nav-custom {
    border-bottom: 1px solid #B1AFAF;
}

.tabs-container .nav-custom > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #B1AFAF;
    border-bottom-color: transparent;
}

.ibox-action {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 6px 15px 7px;
    height: 48px;
}

.dataTables_filter, .dataTables_paginate {
    text-align: right;
}

.profile-element span.clear {
    z-index: 0;
}

.tree ul li div {
    float: left;
}

.tree ul li div a {
    margin-left: 3px;
}

.tree ul li label {
    max-width: 65%;
    font-size: 12px;
    font-weight: 500;
}

#telaarvore {
    border-right: 1px solid #e7eaec;
}

#telaarvore fieldset legend {
    display: none;
}

.chosen-container {
    width: 100% !important;
}

<!--
HEADER NAV

-->

.navbar {
    position: relative;
    min-height: 50px;
}

.navbar:before,
.navbar:after {
    content: " ";
    display: table;
}

.navbar:after {
    clear: both;
}

.navbar .navbar-devider {
    display: block;
    width: 20px;
    height: 5px;
}

.navbar-center {
    float: left;
    width: 50%;
}

.navbar-center li {
}

.navbar-center .header-nav {
    width: 100%;
}

.navbar-left a {
    float: left;
}

.navbar-left .header-nav {
    margin-left: 6px;
}

.navbar-right {
    float: right;
}

.navbar-right .header-nav {
    display: inline-block;
    float: left;
}

.navbar-center .header-nav {
    display: inline-block;
    float: left;
}

.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}

.navbar-right .header-nav-toggle {
    margin-left: 0;
}

.header-nav {
    margin: 0 12px;
    padding-left: 0;
    list-style: none;
}

.header-nav > li {
    position: relative;
    display: block;
    padding: 14px 0 14px 12px;
    float: left;
}

.header-nav > li:first-child {
    padding-left: 0;
}

.header-nav > li > a {
    position: relative;
    display: block;
}

.header-nav > li > a:hover,
.header-nav > li > a:focus {
    text-decoration: none;
}

.header-nav > li.disabled > a {
    color: #969c9c;
}

.header-nav > li.disabled > a:hover,
.header-nav > li.disabled > a:focus {
    color: #969c9c;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
}

.header-nav .open > a,
.header-nav .open > a:hover,
.header-nav .open > a:focus {
    background-color: #e5e6e6;
    border-color: #0aa89e;
}

.header-nav > li > a > img {
    max-width: none;
}

.header-nav .btn-icon-toggle:hover {
    background-color: rgba(12, 12, 12, 0.07);
}

.header-nav .navbar-search {
    float: right;
}

.header-nav .header-nav-brand {
    display: inline-table;
    padding: 0;
    height: 64px;
}

.header-nav .header-nav-brand .brand-holder {
    display: table-cell;
    vertical-align: middle;
}

.header-nav .header-nav-brand a {
    text-decoration: none;
}

.header-nav-profile .dropdown {
    padding: 0;
}

.header-nav-profile .dropdown > a {
    position: relative;
    min-height: 64px;
    padding: 12px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.header-nav-profile .dropdown > a:after {
    content: "\f107";
    position: absolute;
    *margin-right: .3em;
    right: 10px;
    top: 22px;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

.header-nav-profile .dropdown > a .ink {
    background-color: rgba(83, 88, 88, 0.15);
}

.header-nav-profile .dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.header-nav-profile .dropdown .profile-info {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px 0 10px;
    line-height: 15px;
    color: #fff;
    margin-left: 0px;
}

.header-nav-profile .dropdown.open > a > span {
    color: #313534 !important;
}

.header-nav-profile .dropdown .profile-info small {
    display: block;
    opacity: 0.5;
}

.header-nav-profile .dropdown .dropdown-menu {
    min-width: 100%;
}

.header-nav-profile .dropdown.open {
    color: #313534;
}

.header-nav-profile .dropdown.open > a {
    margin-top: 6px;
    padding: 6px 12px 12px 12px;
    min-height: 58px;
    background-color: #ffffff;
    border-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.header-nav-profile .dropdown.open > a:after {
    top: 16px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header-nav-profile .dropdown.open .dropdown-menu {
    margin-top: -1px;
    border-top: none;
}

.header-nav-options .dropdown > a .badge {
    position: absolute;
    font-size: 10px;
    top: -1px;
    right: 4px;
}

.header-nav-options .dropdown .dropdown-menu {
    top: 14px;
}

@media (min-width: 1200px) {
    .menubar-first.menubar-pin .header-nav .header-nav-brand {
        display: none;
    }

    .menubar-first.menubar-pin #header {
        left: 240px;
    }
}

@media (min-width: 769px) {
    .menubar-first #header .menubar-toggle {
        display: none;
    }

    .menubar-first #header {
        left: 64px;
    }
}

@media (max-width: 768px) {
    #header {
        position: relative;
    }

    .header-fixed #header {
        position: relative;
    }

    .header-fixed #header:before {
        content: '';
        z-index: 0;
        position: fixed;
        top: 0;
        display: block;
        width: 100%;
        height: 64px;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    }

    .navbar .dropdown-menu {
        position: relative;
    }

    .navbar-left {
        float: left;
        width: 55%;
        z-index: 1011;
        left: 0;
        right: 0;
        height: 64px;
        background: #ffffff;
        border-bottom: 1px solid #e5e6e6;
    }

    .navbar-center .header-nav {
        width: auto;
    }

    .header-fixed .navbar-left {
        position: fixed;
    }

    .navbar-center {
        height: 64px;
        width: 45%;
        float: right;
        background: #ffffff;
        border-bottom: 1px solid #e5e6e6;
    }

    .navbar-right {
        position: absolute;
        left: 0;
        right: 0;
        top: 64px;
        float: none !important;
        background: #ffffff;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    }

    .navbar-right .header-nav-options {
        margin-right: 12px;
        float: right;
    }

    .navbar-right .header-nav-profile {
        position: absolute;
        float: left;
    }

    .header-nav-profile .dropdown > a:after {
        display: none;
    }

    .navbar-right .header-nav-toggle {
        position: absolute;
        z-index: 1012;
        top: -64px;
        right: 0;
    }

    ul.header-nav.header-nav-options li:nth-child(2) {
        width: 40px !important;
    }

    .header-fixed .navbar-right .header-nav-toggle {
        position: fixed;
        top: 0;
    }

    .navbar-left .header-nav {
        margin-left: 12px;
    }

    .header-nav-profile .dropdown img {
        width: 40px;
    }

    .header-nav-profile .dropdown .profile-info {
        padding-left: 0;
        padding-right: 30px;
    }

    .navbar-search {
        position: relative;
        z-index: 1;
    }

    .navbar-search.expanded .form-group {
        max-width: 100%;
        width: 480px;
    }

    .modal-lg {
        width: 100% !important;
        margin: 0px;
        padding: 10px;
    }

    .panel-body .profile-pic {
        width: 80px !important;
        height: 80px !important;
    }
}

#header.header-inverse {
    background: #242a31;
    color: rgba(255, 255, 255, 0.6);
}

.header-inverse .header-nav .btn-icon-toggle:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

@media (max-width: 768px) {
    .header-inverse .navbar-left {
        background: #242a31;
        border-bottom-color: rgba(255, 255, 255, 0.15);
    }

    .header-inverse .navbar-right {
        background: #242a31;
    }
}

.dropdown-header {
    font-size: 10px;
    font-weight: 500;
    opacity: .6;
    display: block;
    padding: 15px 20px 5px 20px;
    line-height: 1.846153846;
    color: #969c9c;
    white-space: nowrap;
}

.dropdown-menu > li > a {
    padding: 5px 20px;
    margin: 0px;
}

.header-nav > li:first-child {
    padding-left: 0;
}

.header-nav .header-nav-brand {
    display: inline-table;
    padding: 0;
    height: 64px;
}

.nav-second-level li a {
    padding-left: 25px;
}

.nav-third-level li a {
    padding-left: 35px;
}

.chosen-drop {
    text-align: left;
}

.navbar-default {
    position: fixed;
}

.dz-preview {
    display: none;
}

.page-heading {
    padding: 0px 10px 10px 10px
}

.dtree {
    margin-top: 15px;
}

.input-group-addon span {
    width: 15px;
}

.input-group-addon {
    border-left: 1px solid #B1AFAF !important;
    border-top: 1px solid #B1AFAF !important;
    border-bottom: 1px solid #B1AFAF !important;
}

.tituloFormulario {
    padding: 10px 5px 5px 20px !important;
    margin-top: 10px;
    border-top: 2px solid #e3e3e3;
}

.mini-navbar .nav-second-level li {
    width: 200px;
}

.nav > li > a i {
    width: 12px;
}

.btn-group .btn-default:hover,
.btn-group .btn-default:focus,
.btn-group .btn-default:active,
.btn-group .btn-default.active,
.btn-group .open .dropdown-toggle.btn-default {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}

.btn-group .btn-primary:hover,
.btn-group .btn-primary:focus,
.btn-group .btn-primary:active,
.btn-group .btn-primary.active,
.btn-group .open .dropdown-toggle.btn-primary {
    background-color: gray;
    border-color: gray;
    color: #FFFFFF;
}

/*
    Correï¿½ï¿½o para os botï¿½es do elemento radio do tipo Sim e Nï¿½o apareï¿½am da cor
    cinza quando desativado e verde quando ativado.
    label.btn.btn-primary.active
*/
/*
    Correï¿½ï¿½o para os botï¿½es do elemento radio do tipo Sim e Nï¿½o apareï¿½am da cor
    cinza quando desativado e verde quando ativado.
    label.btn.btn-primary.active
*/
label.btn.btn-primary {
    background-color: gray;
    border-color: gray;
}

label.btn.btn-primary.active {
    background-color: #1ab394 !important;
    border-color: #1ab394 !important;
}

.navbar-listagem {
    margin-top: -62px;
    float: right;
    position: relative;
}

section .form-group .btn-group {
    margin-left: 15px;
}

.form-actions {
    padding-left: 10px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.danger {
    color: #EF5352 !important;
}

.primary {
    color: #1c84c6 !important
}

-webkit-baseline-.info {
    color: #23c6c8 !important;
}

.warning {
    color: #F8AC59 !important;
}

.success {
    color: #1ab394 !important;
}

.database-info {
    display: block;
    vertical-align: -webkit-baseline-middle;
    color: #fff;
}

.form-control, .single-line,
.checkbox label::before,
.radio label::before,
.chosen-choices {
    border: 1px solid #B1AFAF !important;
    opacity: 1 !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control,
.chosen-disabled .chosen-choices {
    border: 1px solid #B1AFAF !important;
}

.chosen-disabled,
.chosen-disabled .chosen-choices {
    background: #eee;
    opacity: 1 !important;
}

.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ui-widget-content, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #B1AFAF !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #1c84c6;
    border: 1px solid #1c84c6 !important;
    border-radius: 10px;
}

.ui-slider-range {
    background: #1c84c6 !important;
}

.tour-step-background {
    background: transparent !important;
}

.popover[class*="tour-"] {
    z-index: 1200;
}

.nav.tour-step-backdrop {
    z-index: 1200;
    background: #fff !important;
}

.popover[class*="tour-"] {
    z-index: 1200;
}

.popover-title {
    font-size: 16px;
    font-weight: bold
}

.popover-content {
    font-size: 14px;
}

.tour-backdrop {
    opacity: 0.3 !important;
}

@media (max-width: 1024px) {
    .navbar-right {
        width: 25%;
    }

    .header-nav-profile .dropdown .profile-info {
        width: 75%;
    }

    ul.header-nav.header-nav-options li:nth-child(2) {
        width: 40%;
    }
}

.ibox-footer {
    padding: 10px 15px 8px 25px;
}

.btn-campo {
    background-color: #fff !important;
    color: #666 !important;
}

label.btn.btn-campo.active {
    color: #fff !important;
}

@media print {
    #tarja-aviso-19358 {
        display: none !important;
    }

    #msg_ambiente {
        display: none !important;
    }

    #nao_imprimir {
        display: none !important;
    }

    .nav {
        display: none !important;
    }
}